CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.metadata/
.settings/
.cproject
.project
Demo.bin
Demo.hex
Demo.lst
Demo.elf